<!doctype html>
<html class="no-js" lang="pt-br">

<head>
  <meta charset="utf-8">
  <title>Gerador QrCode Pix</title>
  <meta name="description" content="O gerador de QRCode PIX pode ser usado para mais de uma transação, tendo a função similar a de uma etiqueta de produtos, pagamento de compra ou cobrança por serviço prestado. Pode, inclusive, estar impresso no ponto de venda físico, site ou aplicativo.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="Gerar Qr Code Pix">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.gerarpix.com.br">
  <meta property="og:image" content="https://www.gerarpix.com.br/android-chrome-512x512.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="512" />
  <meta property="og:image:height" content="511" />
  <meta property="og:image:alt" content="Gerador de QRCode PIX" />

  <link rel="apple-touch-icon" href="icon.png">

  <script src="dist/main.js" ></script>
  <link rel="stylesheet" href="dist/main.css">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#252f3f">
</head>

<body itemscope itemtype="https://schema.org/WebPage">
  <div class="bg-gray-800">
    <header class="py-5">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl leading-9 font-bold text-white">
          <a href="/" itemprop="name">Gerador QrCode Pix - Online</a>
        </h1>
      </div>
    </header>
  </div>

  <main class="mt-10">
    {{#if article}}
      <div class="article__content max-w-7xl mx-auto pb-12 px-4 sm:px-6 lg:px-8">
    {{/if}}

    {{{body}}}

    {{#if article}}
      </div>
    {{/if}}
  </main>
</body>
</html>
