<meta content="2021-02-16" itemprop="datePublished" />
<meta content="2021-02-16" itemprop="dateModified" />

<h1 itemprop="headline">Como gerar QR Code para recebimentos com valor fixo para o pagador</h1>

<img itemprop="image" alt="pix e celular" src="/images/o-que-e-necessario-para-fazer-o-meu-cadastro-no-pix-20201125153014.jpg" width=250 height=250 class="m-auto mt-5 mb-5" />

<p>O Pix foi lançado há pouco tempo e já conquistou grande parte dos brasileiros. Claro que as empresas não ficariam de fora.
</p><p>Todos, no entanto, ainda estão tentando entender como funcionam as transações com esta nova modalidade de transferência bancária e como se adaptar a ela.
</p><p>Mas o pagamento por Pix é muito simples de entender. Basicamente, ele pode ser feito pelo Pix QR Code ou pela chave Pix.
</p><p>Neste post iremos mostrar como gerar um QR Code para os recebimentos com valor fixo para o pagador. Leia e compartilhe este conteúdo!
</p><p><h2>Origem e funcionamento do QR Code</h2>
</p><p>O QR Code, também conhecido como código QR, é uma abreviação do inglês Quick Response Code. Fazendo uma comparação, ele é um tipo de código de barras, mas com outro formato. Ao invés daquelas linhas verticais, você tem uma imagem.
</p><p>Ele é uma imagem em 2D, que é produzido para ser lido por câmeras de celulares. O QR Code nasceu em 1994. Ele foi criado por uma empresa automotiva no Japão. Era utilizado para identificar as peças dos veículos em fábricas.
</p><p>Com o tempo, ele foi ganhando outros usos mais avançados. O QR Code consegue armazenar uma enorme quantidade de informações em seu pequeno tamanho. Eles podem ser utilizados, por exemplo, para levar usuários a páginas na internet, para transmitir dados e até mesmo para a recente tecnologia de pagamentos por celular.
</p><p>Antes do Pix utilizá-lo, o QR Code já era adotado em um sistema de pagamentos parecido: o PicPay. No entanto, enquanto o PicPay é apenas um intermediador, o Pix foi criado para que as transações ocorram de maneira direta entre usuários.
</p><p>Um outro ponto importante a ser mencionado sobre o QR Code é que ele se tornou popular, pois sua veiculação ocorre de maneira fácil e variada. Pode ser em qualquer meio, de redes sociais a papéis, sites ou placas.
</p><p><h2>Como gerar o QR Code?</h2>
</p><p>É possível gerar os QR Codes via sites, como o Gerarpix. Além disso, ele pode ser gerado em aplicativos e sites de instituições financeiras autorizadas. Eles podem ser operados de maneira segura no sistema do Banco Central, que é criptografado.
</p><p>No caso do Gerarpix, é preciso preencher alguns dados como:
</p><p>·	A chave Pix;
</p><p>·	O nome do beneficiário;
</p><p>·	A cidade do beneficiário ou onde ocorre a transação;
</p><p>·	O valor para a transferência (que pode ser opcional); e
</p><p>·	Um texto opcional de referência para transferência de até 20 letras.
</p><p>Depois disso, é só apertar o botão “gerar" e aguardar a geração do QR Code.
</p><p>No caso dos aplicativos e sites do sistema bancário, é preciso que se tenha uma conta empresarial cadastrada no Pix. Também é possível gerar o QR Code através das principais plataformas de pagamento dentro do Pix.
</p><p>Após a leitura de um código desses, o pagador será encaminhado para a página de pagamentos do seu aplicativo cadastrado no Pix. Assim, ele poderá fazer a transação.
</p><p><h2>Tipos de Pix QR Code</h2>
</p><p>Existem dois tipos de QR Code: o dinâmico e o estático. Veremos, a seguir, as diferenças entre eles:
</p><p>1.	QR Code Dinâmico:
</p><p>Os QR Codes Dinâmicos do Pix, de maneira geral, podem ser gerados a cada venda com diversos dados para o comprador. Seguem abaixo alguns exemplos de informações que podem ser configurados:
</p><p>·	Dados do pagador e do recebedor;
</p><p>·	Valor original da cobrança;
</p><p>·	Tempo de expiração do código QR;
</p><p>·	Multa/juros aplicáveis;
</p><p>·	Data de vencimento;
</p><p>·	Descontos; e
</p><p>·	Valor final.
</p><p>O QR Code Dinâmico do Pix nada mais é do que um código para venda que tem mais detalhes e informações para o consumidor.
<br>
</p><p>2.	QR Code Estático:
</p><p>É uma imagem que contém as informações bancárias do recebedor do pagamento. Também é possível que as pessoas físicas o utilizem, não apenas as empresas.
</p><p>O Pix QR Code Estático serve como uma substituição da Chave Pix. Ele possui uma quantidade inferior de informações na comparação com o QR dinâmico. Os dados que o QR Code Estático pode ter são:
</p><p>·	Campo opcional para livre preenchimento;
</p><p>·	Chave de endereçamento, ou seja, a conta do recebedor;
</p><p>·	Identificação opcional da cobrança; e
</p><p>·	Valor opcional da transação. Isto é opcional, pois o pagador poderá inserir o valor na hora da transação.
</p><p>O QR Code Estático é basicamente a identificação de uma conta bancária. Por isso, como não tem definição de valor, após ser gerado, ele pode ser usado permanentemente por estabelecimentos e pessoas para diversas transações. Sendo assim, ele pode ser impresso e usado como opção de pagamento.
</p><p>Todos os aplicativos das instituições financeiras que são autorizadas pelo Pix devem ler o QR Code Estático. Sendo assim, ele acaba sendo mais popular que o QR Code Dinâmico.
</p><p>Com tudo isso, cada estabelecimento comercial entenderá e escolherá qual tipo de QR Code é melhor para a rotina de pagamentos ou vendas e para o seu público.
</p><p>Como citado anteriormente, existem outros meios de pagamentos que utilizam QR Code, além do Pix, como o PicPay, por exemplo. O Banco Central adotou um padrão que permite o armazenamento de vários arranjos de pagamento em apenas um só código.
</p><p>Isso significa que o mesmo QR Code usado no Pix poderá também ser lido em outros aplicativos de pagamento que façam parte do sistema Pix. Só é preciso que o usuário escolha qual deles vai usar, após escanear o QR Code. Assim, o dispositivo usará as informações do arranjo escolhido pelo usuário.
</p><p>Gostou do post? Quer gerar um QR Code pix para a sua transferência ou pagamento? Acesse nosso <a href= “https://www.gerarpix.com.br/">site</a> e gere seu código com rapidez.</p>
