<meta content="2020-12-22" itemprop="datePublished" />
<meta content="2021-01-24" itemprop="dateModified" />
<h1 itemprop="headline">9 dúvidas que todo mundo possui ao utilizar o Pix</h1>

<img itemprop="image" alt="mulher com celular na mão" src="/images/x-duvidas-que-todo-mundo-possui-ao-utilizar-o-pix-20201125153014.jpg" width=250 height=250 class="m-auto mt-5 mb-5" />

<p>Criado pelo Banco Central, o PIX é um método de pagamento que passou a ser válido no dia 17 de novembro de 2020, possibilitando pessoas físicas fazer transferências bancárias sem tarifas.
</p><p>Na prática, é como se você estivesse pagando em dinheiro, mas é uma transferência eletrônica, que cai em no máximo 10 segundos. Também é possível através do PIX realizar o pagamento de boletos bancários, que ao invés de código de barras farão a leitura do QR Code.
</p><p>Simples, não é mesmo? Entretanto, algumas pessoas ainda têm dúvidas ao utilizar o PIX. Você é uma delas? Então continue a leitura e as esclareça!
</p><p><h2>1. Como eram as transferências antes do PIX?</h2>
</p><p>Os bancos disponibilizavam dois tipos de transferências para as instituições bancárias: o DOC e o TED. Pelo DOC (Documento de Ordem de Crédito), você só pode enviar R$ 4.999,99 por transação e o dinheiro cai na conta de destino no dia seguinte. Se for feita depois das 22 horas, pode levar mais de um dia útil para ser concluída.
</p><p>Já com o TED (Transferência Eletrônica Disponível) a transferência entre contas de instituições bancárias diferentes, é creditada na conta de destino até às 17 horas do mesmo dia. Depois desse horário, a transferência é agendada para o dia seguinte. No TED, não existe valor mínimo a ser transferido e é possível enviar valores superiores a R$ 5 mil.
</p><p><h2>2. Qual a grande diferença do PIX para os modelos já existentes?</h2>
</p><p>TED e DOC só funcionam em dias úteis. Já com o PIX, independente do dia e horário, o dinheiro cai na hora. E sem tributação. Os bancos não podem cobrar nada nem de quem paga nem de quem recebe (pessoas físicas e MEI).
</p><p><h2>3. O PIX é um aplicativo do Banco Central?</h2>
</p><p>Não. Ele é um meio de pagamento criado pelo Banco Central em que os bancos de varejo (com mais de 500 mil clientes) são obrigados a oferecer aos seus clientes e sem cobrar tarifa por esses serviços.
</p><p><h2>4. Essas transferências instantâneas sem taxas servem para todo mundo?</h2>
</p><p>Não. A ausência de taxas contempla pessoas físicas e MEI (Micro Empreendedor Individual). Pessoas jurídicas terão tributação de acordo com o estabelecido com seu banco, assim como nas demais transações.
</p><p><h2>5. Eu sou obrigado a cadastrar a chave?</h2>
</p><p>Se você quiser apenas receber PIX não é necessário cadastrar chaves. Se alguém tiver que te transferir algum valor e quiser utilizar o PIX, é necessário apenas possuir o número da sua conta.
</p><p><h2>6. Posso cadastrar chave em mais de um banco?</h2>
</p><p>Sim. Você pode ter mais de uma chave, mas para ter cadastrar é necessário fazer com diferentes meios. Por exemplo, no banco X você pode usar seu e-mail, em outro banco o número de seu telefone e em outro seu CPF.
</p><p><h2>7. O que significa transferências e pagamentos de boletos instantâneos?</h2>
</p><p>Significa que em qualquer dia e horário, mesmo em feriados e finais de semana, você pode pagar um boleto ou transferir um valor que não precisará aguardar um período para compensação.
</p><p><h2>8. Posso fazer empréstimo ou ter algum tipo de crédito?</h2>
</p><p>Não, PIX não é crédito. A transferência é feita apenas com dinheiro que está na sua conta, por isso é bom atentar-se ao uso do cheque especial. Inclusive cada instituição financeira pode limitar o valor diário das transações de seus clientes.
</p><p><h2>9. Como funcionará o pagamento de contas?</h2>
</p><p>O PIX não lê código de barras, só lê QR Code. As empresas começarão a colocar QR Code em seus boletos visando uma maior praticidade e rapidez nos pagamentos.
</p><p>Quer gerar QR Code e poder fazer mais ferramentas de integração PIX? <a href="https://www.gerarpix.com.br">Clique aqui!</a>
</p>
