<meta content="2021-02-16" itemprop="datePublished" />
<meta content="2021-02-16" itemprop="dateModified" />

<h1 itemprop="headline">Entenda as facilidades do QrCode Estático para receber pagamentos</h1>

<img itemprop="image" alt="pix e celular" src="/images/o-que-e-necessario-para-fazer-o-meu-cadastro-no-pix-20201125153014.jpg" width=250 height=250 class="m-auto mt-5 mb-5" />

<p>Rápido, prático e seguro: o Pix foi uma ferramenta de transação financeira criada pelo Banco Central no final de 2020 com o objetivo de facilitar a forma na qual fazemos pagamento. O procedimento pode ser feito a qualquer dia e horário, sem custos. Entre as vantagens está que o dinheiro cai na conta da outra pessoa ou empresa em poucos segundos.
</p><p>Com ele você pode fazer compras, pagar contas e fazer transferências para qualquer pessoa. Para se cadastrar, é preciso ter uma conta corrente, poupança ou pré-pega em alguma instituição ou banco credenciada pelo BC.
</p><p>É vantajoso tanto para quem paga, quanto para quem recebe. Tudo isso pode ser feito através do compartilhamento de um QR Code e com o uso de um smartphone. Dessa forma você não precisa mais andar com grandes quantias de dinheiro em espécie e nem com vários cartões de banco, tendo muito mais segurança.
</p><p>Esse código poderá ser gerado no aplicativo do banco ou instituição onde a pessoa tem conta, ou por meio de empresas. Hoje em dia existe dois tipos de QR codes. Nesse post vamos falar um pouco mais sobre o Estático e quais são as suas vantagens.
</p><p><h2>Qual a diferença em relação ao Dinâmico?</h2>
</p><p>O objetivo do QR code é funcionar como uma ferramenta de cobrança. Tanto o Dinâmico, quanto o Estático, cumpre perfeitamente essa função. O que os tornam diferentes é a sua funcionalidade. Enquanto o primeiro se limita a apenas uma transferência, o estático permite um número maior de pagamento com o mesmo valor.
</p><p>É ideal para quem tem algum tipo de pequeno negócio. Ele é indicado em situações de pagamento mais simples, que não demandem automatização de processos ou uma reconciliação de integração de sistemas (que nesse caso é indicado o uso do Dinâmico). A vantagem é que a pessoa pode determinar um valor “x"para um produto e utilizar o mesmo QR code para diversas transações, quantas vezes julgar necessário.
</p><p>Segundo o Banco Central, por ser mais flexível, com o QR code Estático você pode também utilizá-lo como uma etiqueta de preço único. Sendo assim, várias pessoas podem efetuar o pagamento com o mesmo código. Essa opção é mais indicada em caso de pessoas físicas, além de pequenos varejistas e prestadores de serviços.
</p><p><h2>Como isso funciona na prática</h2>
</p><p>Por mais que pareça um assunto complexo para muitos, é possível notar a diferença entre os dois tipos de códigos. O dinâmico é muito usado em casos de cobrança de um boleto específico, por exemplo.  Já o Estático é muito utilizado em espaços físicos, como estabelecimentos comerciais. Ele pode, inclusive, ser encontrado em algum Ponto de Venda (PDV), pois os códigos podem ser impressos ou disponibilizados em um  site e aplicativo.
</p><p>Digamos que você vai em um bar ou restaurante com os seus amigos e deseja repartir o valor da conta. Com esse tipo de ferramenta, é possível compartilhar os pagamentos entre mais de uma pessoa. Isso tudo é feito com segurança e sigilo dos dados bancários, já que o QR code protege de possíveis fraudes.
</p><p>Para que ocorra a transferência, é preciso inserir algumas informações como município de origem da pessoa que vai receber ou local da transferência, além do nome da pessoa e a chave Pix. O consumidor poderá contar com duas opções na hora de efetuar o pagamento: valor já fixo (quando é um produto específico) ou em aberto, onde poderá colocar o preço determinado após o código ser escaneado pelo seu smartphone.
</p><p><h2> Faça um QR code Estático </h2>
</p><p>Se você deseja gerar QR code Estático mas não sabe como? A GerarPix é uma empresa especializada como gerador de códigos. O procedimento é feito de maneira segura e rápida. Quer saber mais? <a href=“https://www.gerarpix.com.br/">Acesse o nosso site</a>!
</p>
