<meta content="2021-02-16" itemprop="datePublished" />
<meta content="2021-02-16" itemprop="dateModified" />

<h1 itemprop="headline">Não quero passar meu telefone ou CPF para receber pelo PIX! O que fazer?</h1>

<img itemprop="image" alt="pix e celular" src="/images/o-que-e-necessario-para-fazer-o-meu-cadastro-no-pix-20201125153014.jpg" width=250 height=250 class="m-auto mt-5 mb-5" />



<p>A segurança de dados é uma coisa que preocupa muita gente. Não é à toa tamanha cautela. O vazamento de informações pessoais pode implicar em transtornos, como fraudes e o uso indevido do seu nome por terceiros que estejam mal intencionados. Esse receio tem levado muitas pessoas a terem mais cuidado ao usar alguns tipos de transações financeiras, como o Pix, por exemplo.
</p><p>Apesar de ser uma ferramenta confiável, assim como qualquer outro mecanismo para enviar dinheiro – como TED, é preciso adotar algumas medidas para garantir a total segurança. Você sabia que é possível receber pagamentos através dele sem a necessidade de informar para a pessoa que está fazendo a transferência dados como o seu CPF (Cadastro de Pessoa Física) ou número do telefone?
</p><p>Se você quer saber como fazer isso, nesse post vamos explicar como essa opção funciona melhor e tudo o que você precisa fazer para ter maior sigilo dos seus dados.
</p><p><h2>O que é o Pix?</h2>
</p><p>Se você acompanha as notícias, já notou que um dos assuntos do momento é o Pix, não é verdade? Mas afinal, o que é isso? Criado pelo Banco Central no final de 2020, ele surgiu como uma alternativa de pagamento, que funciona de maneira instantânea e gratuita.
</p><p>Para utilizá-lo, a pessoa ou a empresa precisa ter uma conta corrente, poupança ou de pagamento pré-paga em uma das mais de 700 instituições aprovadas pelo BC. O procedimento é feito de maneira simples, através de um aplicativo.
</p><p>A transferência é bem simples e ocorre em questões de segundos, ao contrário de outros tipos (como TED e boletos bancários) que levam horas ou até dias para serem compensados na conta do recebedor. Pode ser feito em qualquer horário e dia da semana. Apesar de não haver valor mínimo ou máximo, algumas instituições podem estabelecer limites como forma de segurança.
</p><p><h2>Como receber sem informar meus dados</h2>
</p><p>Apesar de não ser obrigatório fazer cadastro para utilizar o Pix, o BC orienta que isso seja feito caso o seu objetivo seja receber através dele. Isso porque o objetivo é tornar o procedimento mais rápido. Quando você disponibiliza apenas dados da sua conta, isso poderá tornar o processo mais lento.
</p><p>O ideal, caso deseje ter mais privacidade de dados, é criar a chave Pix. Para criá-la, você precisará apenas de um desses quatro tipos de informação ao cadastrar: CPF/CNPJ, e-mail, número do telefone ou a chave aleatória.
</p><p>Essa última é a mais recomendada nesse caso. Utilizando a chave aleatória, você não precisar informar seu CPF ou número do telefone, por exemplo, sendo necessário apenas fazer um login na hora com senha (que deverá conter um conjunto de números, letras e símbolos gerados de forma aleatória).
</p><p><h2>O que é chave aleatória?</h2>
</p><p>Como já informamos, a chave aleatória é uma alternativa para quem não deseja informar seus dados pessoais para a pessoa que irá efetuar o pagamento. Ela foi criada, principalmente, para ser utiliza com QR codes gerados por um aplicativo da sua instituição a fim de facilitar o recebimento do pagamento.
</p><p>Segundo o Banco Central, ela pode ser utilizada uma única vez ou em várias transações sem a necessidade de gerar novos códigos a todo momento. Vale ressaltar que ela poderá ser removida e substituída por outra quando o usuário desejar. Esse código único contém 32 caracteres gerados pelo próprio BC.
</p><p>Entre as vantagens está a redução do risco de ação de criminosos virtuais, que podem coletar os seus dados para o uso indevido. Contudo, é importante alertar que, embora não dê informações sobre o usuário, na hora de confirmar o pagamento poderá ser exibido os dados na tela da pessoa pagadora. Além disso, não são todos os bancos que aceitam a transferência por meio desse artifício.
</p><p><h3>Como criar a chave</h3>
</p><p>Para criar uma chave Pix, é preciso fazer um registro no seu banco ou instituição financeira onde tem conta. Isso poderá ser feito indo presencialmente na agência ou de qualquer lugar através do aplicativo de celular/tablet ou internet banking.
</p><p>Se desejar fazer pela internet, entre no menu, do seu aplicativo ou site do banco, que indica a função de cadastro de chaves. Fique atento pois essas opções podem mudar. Encontre a opção chave aleatória. Ao receber o código, copie e guarde em um lugar seguro. Tome cuidado ao digitá-lo, pois o erro poderá impedir a transferência.
</p><p>Cada pessoa poderá cadastrar até cinco chaves por conta (pessoa física) e até 20 (pessoa jurídica). Vale ressaltar esse tipo de chave não pode ser feito a portabilidade. Nesse caso, basta excluir a conta origem e cadastrar uma nova chave na conta destino.
</p><p><h2>Cuidados para evitar possíveis golpes</h2>
</p><p>Por mais que o Pix seja rápido, prático e seguro, ele também está sujeito a golpes. Criminosos utilizam o seu nome para enganar as pessoas. Por isso, tome muito cuidado e certifique-se da sua procedência. Entre os tipos de crime que mais ocorrem, são aqueles feitos ainda na fase de cadastramento.
</p><p>As chaves estão sendo alvos de uma técnica de fraude chamada phishing. Nela, o criminoso envia para a pessoa uma mensagem falsa para coletar os dados da pessoa, como informações pessoais e até mesmo senhas de banco. Para enganar e passar a ideia de credibilidade, criam-se sites com nomes parecidos. Mantenha sempre a atenção redobrada. Alguns sinais, como uma letra trocada, pode indicar o golpe.
</p><p>Os cuidados também devem ser levados em conta na hora de realizar as transações. Entre as dicas de segurança estão não aceitar links que venham encaminhados por SMS, posts em redes sociais ou e-mails. Não caia na conversa de pré-cadastro, pois grande parte desses convites pode ser falso. Confira a procedência. Veja o endereço do site onde está inserindo os seus dados.
</p><p>Caso você receba uma notificação que sua chave foi reivindicada por outro usuário, você terá um prazo de até sete dias corridos para validar e comprovar a sua posse. Após o encerramento disso, você poderá voltar a utilizá-lo normalmente.
</p><p>Caso esteja mudando o número de celular, inclua uma nova chave usando o novo dado e exclua a anterior. Para alterar os seus dados na chave Pix, consulte a disponibilidade dessas funcionalidades, pois podem variar de usuário para usuário. Para registro, exclusão, alteração, portabilidade e reivindicação o procedimento poderá ser feito das 8h às 20h ou 24h por dia em alguns casos.
</p><p>Se você gostou desse conteúdo , entendeu os cuidados que precisa ter, conheça a GerarPix. Ela é uma empresa que oferece aos seus clientes uma ferramenta para <a href=“https://www.gerarpix.com.br/">gerar um QR Code Pix Estático</a> com muito mais segurança e rapidez.
</p>
