<meta content="2020-12-22" itemprop="datePublished" />
<meta content="2021-01-24" itemprop="dateModified" />

<h1 itemprop="headline">O que é necessário para fazer o meu cadastro no Pix?</h1>

<img itemprop="image" alt="pix e celular" src="/images/o-que-e-necessario-para-fazer-o-meu-cadastro-no-pix-20201125153014.jpg" width=250 height=250 class="m-auto mt-5 mb-5" />


<p>No mês de novembro de 2020 começou a funcionar o PIX, sistema de pagamento instantâneo desenvolvido pelo Banco Central (BC). A nova ferramenta trouxe inúmeros benefícios, mas muitas pessoas ainda têm dúvidas de como usá-la.
</p><p>Milhões de brasileiros já conseguiram cadastrar as suas chaves, mas alguns ainda não sabem como fazer. Por isso, nesse artigo, vamos explicar um pouco mais sobre o PIX e o que é necessário para o seu cadastro.
</p><p> Acompanhe!
</p><p><h2>Chave PIX</h2>
</p><p>A chave PIX funciona como um número de identificação individual. Ela é responsável por representar o endereço de sua conta bancária dentro do PIX.
</p><p>Seu funcionamento é simples: a chave vincula informações básicas do cliente com outras mais complexas. Em resumo, ela liga o seu e-mail, celular ou CPF até os seus dados bancários, como agência e conta.
</p><p>Nesse processo, cada pessoa (PF) tem direito a 5 chaves para cada conta que possuir. Para as empresas (PJ), esse número é maior e cada uma pode obter 20 chaves por conta.
</p><p><h2>Como aderir ao PIX e efetuar o cadastro?</h2>
</p><p>O primeiro passo é a criação da chave PIX. Para isso, é preciso utilizar os canais de atendimento das instituições financeiras com as quais você possui conta. É preciso ressaltar que todos os bancos que tenham mais de meio milhão de clientes, obrigatoriamente terão que fornecer a opção de utilização do PIX.
</p><p>Para a criação da chave PIX, o usuário deve utilizar um meio de identificação, que pode ser: um e-mail, número de celular, CPF ou CNPJ.
</p><p>O cadastro poderá ser feito em um dos canais de contato com as instituições, seja por aplicativo ou através do site. Ao acessar, o cliente deve autorizar que haja a vinculação da chave com a sua conta bancária.
</p><p>Lembrando que haverá uma confirmação para saber se aquela chave é realmente sua. Por exemplo: se você utilizar o celular, deverá receber um SMS para a confirmação.
</p><p>É importante que os usuários saibam que não há nenhuma possibilidade de cadastrar essas chaves por meio de ligação telefônica. Já existem algumas tentativas de fraude nesse sentido, mas o Banco Central afirma que não faz esse tipo de abordagem.
</p><p><h2>Informações importantes</h2>
</p><p>Para o uso mais rotineiro, como transferências e pagamentos de boleto, o uso do PIX será totalmente gratuito. Para os Microempreendedores Individuais (MEI), o sistema funciona gratuitamente também, exceto na venda de produtos, onde poderá haver cobrança de alguma taxa.
</p><p>As empresas também pagarão taxas, que ficarão a cargo das instituições financeiras.
</p><p>Por enquanto não há um limite de valor nas transações, mas cada banco poderá colocar um teto para pagamentos e transferências.
</p><p>Em um primeiro momento, os principais benefícios do PIX são: transações em qualquer horário e dia e isenção de taxas e tarifas (para o caso de PF e MEI). Mas existe ainda a possibilidade de que o usuário possa efetuar saques através do PIX. Essa modalidade ainda não está disponível, mas há planos de que possa ocorrer a partir de 2021.
</p><p>Gostou desse artigo? Para saber mais, acesse o nosso site e <a href="https://www.gerarpix.com.br">gere o seu QR Code Pix</a>.
</p>
