<meta content="2020-12-22" itemprop="datePublished" />
<meta content="2021-01-24" itemprop="dateModified" />

<h1 itemprop="headline">5 pontos que você precisa saber sobre o novo modelo de pagamento</h1>

<img itemprop="image" alt="celular lendo qrcode " src="/images/pix-x-coisas-que-voce-precisa-saber-sobre-o-novo-modelo-de-pagamento-2-20201125153014.jpg" width=250 height=250 class="m-auto mt-5 mb-5" />


<p>Quase todo mundo já se viu em uma situação em que foi preciso fazer uma transferência para outro banco e isso levou dias para acontecer, ou então gerou um pagamento por boleto e teve que esperar até que o banco compensasse o boleto para ter o seu produto entregue.
</p><p>Essas são situações do cotidiano que poderiam ser evitadas se houvesse uma alternativa. Algo mais prático, rápido e sem custo. Por conta disso, o Banco Central começou a trabalhar em uma nova alternativa: o Pix.
</p><p>O Pix foi lançado no início de 2020 e começou a funcionar no dia 16 de novembro do mesmo ano. Ele promete revolucionar a forma com que as transações bancárias são realizadas, trazendo diversas facilidades para o dia a dia dos usuários.
</p><p>Para saber como funciona o Pix continue a leitura e fique por dentro!
</p><p><h2>1. O que é o Pix?</h2>
</p><p>O Pix é um novo meio para fazer pagamentos e transferências financeiras. Com ele, o usuário não precisa se preocupar com horários ou se é final de semana, pois esse serviço funciona 24 horas por dia,  até mesmo nos feriados.
</p><p>O mais interessante em relação ao Pix é a sua praticidade, já que os pagamentos e transferências levam até 10 segundos para serem concluídos, ou seja, são praticamente instantâneos.
</p><p><h2>2. Como funciona o Pix?</h2>
</p><p>Para usar o Pix, basta que o usuário tenha uma conta bancária em uma instituição de pagamento ou em uma fintech. A partir disso ele poderá enviar e receber pagamentos, pagar boletos e outras contas, recolher impostos e taxas, transferir dinheiro para as pessoas, tudo isso de maneira ágil, e o melhor: dentro do próprio aplicativo do banco que ele já usa regularmente para fazer esses tipos de transações.
</p><p>Ao entrar no aplicativo do banco, o usuário não precisa fazer um cadastro específico e nem baixar aplicativos de autenticação. Tudo é feito no app em que ele tem uma conta bancária. Neste caso, os bancos devem se atualizar e oferecer a alternativa do Pix. Atualmente os bancos já se encontram preparados para isso e podem oferecer o Pix o mais rápido possível.
</p><p>Em relação ao custo das transações, o serviço não será cobrado para pessoas físicas, tendo em vista que o Pix foi criado para facilitar a vida das pessoas também nesse sentido. Já para as pessoas jurídicas , as transações serão cobradas.
</p><p>Vale a pena mencionar que algumas instituições não cobram nenhum valor para fazer transações por meio do Pix. Esse é um diferencial que apenas algumas empresas oferecem, por isso é importante ficar atento e verificar se há algum valor cobrado antes de realizar as transações.
</p><p><h2>3. Como são feitas as transações com as Chaves do Pix?</h2>
</p><p>As chaves do Pix são utilizadas para cadastrar a identificação da conta, ou seja, o endereço do usuário no sistema Pix. Atualmente existem alguns tipos de chaves que todos podem usar, como, o CPF ou CNPJ do usuário ou empresa, o e-mail, número de celular e uma chave aleatória.
</p><p>É importante mencionar que uma vez escolhido o tipo de chave para utilizar em uma instituição, não será possível usar a mesma chave para outra. Isso significa que se o usuário optar por usar o número de telefone como chave no banco X, não poderá usar a mesma chave no banco Y.
</p><p>Porém, caso o usuário deseje passar uma chave de um banco para outro, é possível solicitar a portabilidade. Assim ele perderá o uso da chave escolhida no banco X e passará a usar essa chave no banco Y.
</p><p>Em relação ao número de chaves disponível para cada pessoa física ou jurídica, o sistema oferece 5 chaves para pessoas físicas por cada conta e 20 para pessoas jurídicas. Não é obrigatório cadastrar todas elas e nem existe um limite máximo do total geral de chaves.
</p><p><h2>4. Como são feitas as transações com QR Codes do Pix</h2>
</p><p>Os QR Codes já são velhos conhecidos do público mais antenado. Com os QR Codes do Pix, a empresa ou usuário poderão fazer um QR Code para receber pagamentos. Assim, no momento da transação a pessoa deverá mostrar o QR Code para o outro usuário e este usará seu smartphone para realizar o pagamento.
</p><p>A partir disso, o Banco Central criou e disponibilizou dois tipos de QR Code, o estático e o dinâmico. O estático poderá ser usado em diversas transações, de modo que o usuário poderá escolher um determinado valor e o QR Code indicará para o pagador as informações de pagamento.
</p><p>Já o QR Code dinâmico é mais recomendado para empresas e negócios que trabalham com a venda de produtos. Isso acontece porque em cada uma das transações as informações serão diferentes e poderão ser incluídas ou alteradas conforme a necessidade dos usuários.
</p><p><h2>5. Diferenças do Pix para outros meios de pagamento</h2>
</p><p>A principal diferença do Pix para as outras formas de realizar pagamentos existentes no mercado é a praticidade que ele proporciona. Por funcionar em todos os momentos do dia e do ano, ele não limita os usuários a realizarem transações em horários e dias comerciais.
</p><p>Outra diferença bastante marcante é relacionada aos custos de transferência de dinheiro para outras instituições. Antes do Pix, as transferências desse tipo eram realizadas por DOC ou TED, de modo que os usuários tinham que arcar com altas taxas de serviço.
</p><p>Com o advento do Pix, isso não será mais preciso, já que grande parte das instituições financeiras utilizam o Pix sem cobrar taxas ou custos adicionais para realizar as transações financeiras.
</p><p>Outra questão interessante é que o Pix é mais rápido, não só para concluir as transações, mas também na logística do processo. Antes, as pessoas precisavam ter o cadastro das contas de outros bancos no aplicativo da instituição ou colocar dados, como nome, agência, conta, CPF, tipo da conta, entre outros. Com o Pix, basta ter e colocar a chave do usuário no sistema.
</p><p><h2>Conclusão</h2>
</p><p>A partir de tudo o que foi avaliado, fica claro que o uso desse sistema para realizar transações e pagamentos é a melhor opção do momento.
</p><p>Para não ter qualquer tipo de problema com o Pix, é interessante utilizar o sistema em instituições bancárias de confiança e que não cobrem taxas. Assim a experiência fica ainda mais vantajosa.
</p><p>Entre em nosso site e veja como gerar o <a href="https://www.gerarpix.com.br">QR Code do Pix de maneira fácil</a>, rápida e segura!
</p>
