<meta content="2020-12-22" itemprop="datePublished" />
<meta content="2021-01-24" itemprop="dateModified" />

<h1 itemprop="headline">Pix X TED X DOC: conheça as principais diferenças entre os três</h1>
<img itemprop="image" alt="dois celulares com setas de transferencia de dinheiro entre eles" src="/images/pix-x-ted-x-doc-conheca-as-principais-diferencas-entre-os-tres-20201125153014.jpg" width=250 height=250 class="m-auto mt-5 mb-5" />

<p>Provavelmente você já deve ter ouvido falar no PIX e talvez tenha ficado confuso sobre o que exatamente é isso e qual é a diferença entre esse tipo de serviços DOC e TED.
</p><p>Pois saiba que se você se encontra nessa situação, você não é o único. Como o PIX entrou em funcionamento há pouco tempo e traz algumas novidades, muitas pessoas têm feito confusão ao tentar entender o que no final das contas é esse serviço.
</p><p>Por esse motivo, vamos ajudar você a conhecê-lo melhor e diferenciá-lo dos demais serviços de transferência e pagamento bancário.
</p><p><h2>Afinal, o que é o PIX?</h2>
</p><p>Trata-se de uma nova forma de transferências e pagamentos que foi anunciada pelo Banco Central em fevereiro desse ano, com o objetivo de facilitar e tornar mais barato os processos de transferência de valores, pagamento de contas e até mesmo recolhimento de impostos e taxas de serviços.
</p><p>Uma das grandes vantagens do PIX com relação aos outros tipos de serviços é que ele pode ser feito de uma forma muito rápida sem que seja necessário esperar dias para compensações, já que funciona 24 horas por dia, todos os dias da semana.
</p><p>Com o Pix, as transações são realizadas em tempo real e dessa forma, os valores precisarão de apenas alguns segundos para ir de uma conta para a outra.
</p><p>As transações do Pix podem ser realizadas entre pessoas, estabelecimentos, pessoas e estabelecimentos comerciais e para entidades governamentais (impostos e taxas).
</p><p>Com a utilização do PIX, normalmente não são cobradas tarifas nos casos de pessoa física, com algumas exceções, já as pessoas jurídicas devem pagar uma tarifa fixa por serviço, mas isso também depende da transação.
</p><p><h2>TED (Transferência Eletrônica Disponível)</h2>
</p><p>Com a TED, os valores transferidos para outra conta têm até as 17h do mesmo dia (útil) para ser creditado. Se for feita após esse horário, a transferência será agendada para o dia seguinte.
</p><p>Não há limite mínimo ou máximo de valores para a TED e quanto as taxas cobradas para esse tipo de transferência. Isso dependerá de cada instituição bancária, sendo que a maioria costuma cobrar, mas não há um valor fixo para todas elas.
</p><p><h2>DOC (Documento de Ordem de Crédito)</h2>
</p><p>Com esse tipo de transação o dinheiro cai na conta de destino somente no dia seguinte e caso a transferência seja feita após as 22h, pode acontecer de a transação se concretizar em mais de um dia útil.
</p><p>O DOC determina um valor máximo para transferência que é de R$ 4.999,99, além disso, esse é um tipo de transferência que pode ser utilizado apenas entre bancos diferentes. Da mesma forma que a TED, pode haver cobrança de taxas, mas nesse caso elas costumam ser menores, e os valores também não são fixos para todas as instituições.
</p><p><h2>Principais diferença entre os serviços</h2>
</p><p>Resumidamente, o Pix se destaca entre o TED e o DOC por oferecer não somente a possibilidade de transferência, como também pagamentos e recolhimentos de taxas e impostos. Além disso, ele é um modo muito mais rápido de realizar as transações bancárias, já que funciona 24 horas por dia, sem interrupções em fins de semana e feriados, permitindo que todas as transações ocorram instantaneamente e em tempo real.
</p><p>Com relação à tarifação, ao passo que o TED e o DOC sofrem cobrança de taxa, o PIX, na maioria das vezes, não é cobrado nos casos de pessoa física e nas transações de pessoa jurídica, as taxas podem ocorrer, no entanto são fixas e menores.
  <a href="https://www.gerarpix.com.br">Clique aqui para gerar QR Code estático PIX!</a>
</p>
