<meta content="2020-12-22" itemprop="datePublished" />
<meta content="2021-01-24" itemprop="dateModified" />

<h1 itemprop="headline">O Pix chegou! Seria o fim dos boletos?</h1>
<img itemprop="image" alt="caderno, livros e calculadora" src="/images/o-pix-chegou-seria-o-fim-dos-boletos-20201125153014.jpg" width=250 height=250 class="m-auto mt-5 mb-5" />


<p>Pix chega ao Brasil e pode dar fim ao uso de boletos
</p><p>Você já ouviu falar do Pix? Disponível para uso desde o último dia 16 de novembro de 2020, este se trata do novo sistema de pagamentos instantâneos criado pelo Banco Central e tem como objetivo facilitar o processo de transações bancárias.
</p><p>A nova forma de pagamentos traz métodos modernos de cobrança, por meio de uma aplicação que integra os sistemas de serviço e padronizam o recebimento de contas.
</p><p>Em meio a tantas mudanças, o novo sistema tem provocado questionamentos sobre as regras para pagamentos de contas. Então, se você tem alguma dúvida a respeito do Pix, este post vai ajudá-lo.
</p><p><h2>O que muda com o Pix?</h2>
</p><p>O Pix visa facilitar a vida de clientes bancários. Diferente das outras formas de pagamento já conhecidas, o Pix é um sistema gratuito e está disponível 24 horas por dia, 7 dias por semana, incluindo sábados, domingos e feriados. Dessa forma, o Pix é a grande promessa do mercado para substituir Teds e DOCs.
</p><p>Além de facilitar as transações bancárias, o Pix também ajudará na realização de compras e pagamento de contas. Isso porque, com o sistema, o cliente poderá fazer transferências e efetuar pagamentos de forma instantânea, com um prazo máximo de até dez segundos.
</p><p><h2>Pix Cobrança</h2>
</p><p>Uma das principais novidades do novo sistema de pagamento é o Pix Cobrança, o qual lojistas, fornecedores e prestadores de serviços poderão emitir um QR Code para a realização de pagamentos imediatos ou com vencimento para datas posteriores, podendo ser usado tanto em lojas físicas, quanto em comércios eletrônicos.
</p><p>Sendo assim, o Pix Cobrança veio para preencher a lacuna que faltava no sistema de pagamento instantâneos, de forma a substituir o uso de boletos.
</p><p>Assim como ocorre na geração de boletos, os usuários do Pix Cobrança poderão incluir uma série de informações no documento eletrônico, como: juros e multas, em caso de pagamentos atrasados, data limite para pagamento e, até mesmo, descontos. Assim, em um futuro não tão distante, concessionárias de luz e água, por exemplo, também poderão usar esta modalidade para receber pagamentos de contas via Pix.
</p><p>As transações realizadas pelo Pix Cobrança devem ser feitas por meio de QR Codes ou links gerados em seu próprio smartphone. Após gerar o QR Code, o pagamento é fácil é rápido, sendo necessário apenas que o cliente faça a leitura do código dentro do app do banco. Feito isso, a transação é recebida em tempo real.
</p><p><h2>Seria o fim dos boletos?</h2>
</p><p>De acordo com o Banco Central, assim como o Pix pode extinguir as transferências feitas por TED e DOC, também pode contribuir para que este momento seja propicio para o fim dos boletos. Com o avanço da tecnologia e o aprimoramento do sistema, efetuar um pagamento ou realizar uma transferência será muito mais rápido e prático com o Pix.
</p><p><h2>Como gerar um Qr Code para o Pix?</h2>
</p><p>O primeiro e único gerador de QR Code Pix chegou para facilitar ainda mais as transações bancárias. Para gerar o QR Code Pix ,é rápido e fácil: basta preencher as informações solicitadas no formulário, como nome completo, Cidade e chave PIX e confirmar. Automaticamente será gerado o seu QR Code Pix e, a partir daí, você poderá utilizá-lo para receber pagamentos de forma instantânea.
</p><p>Gostou da novidade? Então, utilize agora mesmo o <a href="https://www.gerarpix.com.br">gerador de Pix</a> e aproveite!</p>
