<meta content="2020-12-22" itemprop="datePublished" />
<meta content="2021-01-24" itemprop="dateModified" />
<h1 itemprop="headline">PIX: entenda como funciona e os seus principais objetivos</h1>
<img itemprop="image" alt="mulher usando celular" src="/images/pix-entenda-como-funciona-e-os-seus-principais-objetivos-20201125153014.jpg" width=250 height=250 class="m-auto mt-5 mb-5" />


<p>Se você tem aplicativos bancários ou plataformas financeiras no seu dispositivo móvel, provavelmente já ouviu falar do PIX, não é verdade? Entretanto, por ser uma forma de pagamento nova, muita gente ainda não sabe verdadeiramente do que se trata.
</p><p>Por isso, neste texto, aprenderemos sobre o PIX: como ele funciona e os seus principais objetivos. Então, continue acompanhando para ficar por dentro!
</p><p><h2>O que é o PIX?</h2>
</p><p>Aprovado em 12 de agosto deste ano, o PIX é um sistema de pagamento instantâneo e gratuito que foi criado pelo Banco Central (BC), com o intuito de facilitar as transações Brasil afora.
</p><p>Provavelmente, você já precisou fazer uma transferência urgente, mas, quando se deparou com a data, lembrou que teria um problemão, uma vez que era uma sexta-feira à noite e o dinheiro enviado por TED ou DOC só cairia na conta terceira na segunda-feira.
</p><p>O PIX, portanto, chegou para que problemas como esse fossem resolvidos da maneira mais simples, segura e rápida possível. Imagine só não precisar mais informar agência, banco, conta, dígitos etc. para realizar uma transação financeira.
</p><p>Não seria muito bom? Então, agora vamos ver como funciona o PIX e o que deve ser feito para começar a utilizá-lo. Continue acompanhando!
</p><p><h2>Como funciona o PIX?</h2>
</p><p>Como o PIX foi criado para que funcione da maneira mais simples possível, não existem muitos segredos para conseguir colocá-lo em ação.
</p><p>Você precisa cadastrar a sua chave PIX, que pode ser realizado em quaisquer serviços de banco, fintechs (como o Picpay ou o Mercado Pago, por exemplo) ou cooperativas de crédito, desde que você já seja cliente.
</p><p>Dessa forma, as opções principais de chave PIX são: número de celular, e-mail, CPF ou CNPJ e, para cadastrar, é só você ir até ao menu PIX da plataforma que está utilizando e seguir as instruções para inserção dos dados e verificação da conta.
</p><p>Lembre-se de que o cadastro deve ser realizado de acordo com a sua preferência e necessidade, isto é, não tente cadastrar uma chave em um meio que você não conseguirá acessar.
</p><p>Lembrando que para pessoa física e até mesmo para MEI (Micro Empreendedor Individual) é totalmente grátis para realizar transações.
</p><p>Ao cadastrar a sua chave em uma dessas opções, você poderá realizar transações bancárias em qualquer hora do dia (24 horas), e elas são concluídas dentro de alguns segundos. Vale lembrar que é possível ter no máximo 5 chaves PIX por usuário.
</p><p>Para isso, você precisa estar registrado no PIX e a pessoa ou instituição para a qual você está enviando o dinheiro, também. Se o registro já foi realizado por ambos, basta que vocês troquem as informações que escolheram na hora do cadastro e realizem a transação pelo PIX da plataforma escolhida.
</p><p>Além disso, com essa nova forma de pagamento, é possível pagar compras em qualquer comércio que também já esteja cadastrado no PIX. E o melhor é que é tudo digital, ou seja, grande praticidade, não acha?
</p><p><h2>Quando poderei utilizar o PIX?</h2>
</p><p>Desde o começo do ano o PIX está sendo testado, mas entrou efetivamente para o uso em 16 de novembro em 2020. Portanto, você já pode aproveitar todas as vantagens do PIX. Está esperando o quê?
<a href="https://www.gerarpix.com.br">Clique aqui para gerar QR Code estático PIX!</a>
</p>
