<meta content="2021-02-16" itemprop="datePublished" />
<meta content="2021-02-16" itemprop="dateModified" />

<h1 itemprop="headline">Quais as informações que aparece para o pagador com QRCode</h1>

<img itemprop="image" alt="pix e celular" src="/images/o-que-e-necessario-para-fazer-o-meu-cadastro-no-pix-20201125153014.jpg" width=250 height=250 class="m-auto mt-5 mb-5" />


<p>O QR Code se apresenta como uma solução fundamental para o consumidor que deseja otimizar o processo de recebimento de dinheiro e pagamento (em uma transação de compra e venda de produtos ou serviços, por exemplo). É uma tecnologia que vem do inglês, Quick Response Code, significando, em tradução livre, "código de resposta rápida". Tecnicamente, trata-se de um código de barras bidimensional, ou seja, que possui informações e dados tanto vertical como na horizontal.
</p><p>Uma dúvida muito comum entre as pessoas, físicas e jurídicas, em relação ao QR Code é sobre as informações que aparecem ao usarmos essa tecnologia para realizar pagamentos.
</p><p>Pensando nisso, elaboramos este conteúdo para apresentar as informações básicas que aparecem para o pagador com QR Code. Veja!
</p><p><h2>Data e horário de pagamento</h2>
</p><p>Ao apontar o aparelho de celular para o QR Code com o objetivo de efetuar um pagamento, seja por conta da compra de um produto ou serviço, ou, simplesmente, porque precisa pagar a uma pessoa a quem deve, um conjunto de informações aparece na tela do celular assim que você efetua essa transação. Aliás, as informações aparecem no aplicativo que está utilizando para realizar o pagamento, que é geralmente de uma instituição financeira.
</p><p>Por exemplo, após terminar o pagamento, o aplicativo da instituição financeira apresenta a data e o horário de pagamento. Assim, se você pagou um serviço ou produto utilizando o QR Code, automaticamente aparecerá a data precisa e o horário em que realizou essa transação (27/09/2020, às 18:45, a título de ilustração), o que pode lhe ajudar a melhor gerir seus pagamentos.
</p><p><h2>Valor do pagamento</h2>
</p><p>Outra informação que aparece na tela do aplicativo bancário que está utilizando para realizar o pagamento via QR Code é o valor da transação. Assim, por exemplo, caso o QR Code represente uma compra no valor de R $200,00, assim que você efetuar o pagamento desse valor por meio do QR Code, ele aparecerá em sua tela.
</p><p>Inclusive, cabe destacar que a maioria dos aplicativos financeiros conta com a opção de compartilhar os dados a respeito do pagamento de um valor por meio do QR Code. Assim sendo, você pode compartilhar essa transação com a pessoa ou empresa a quem está pagando, com o objetivo de otimizar o processo de comprovação de pagamento.
</p><p><h2>Nome do estabelecimento ou da pessoa a quem pagou</h2>
</p><p>Toda transação realizada por meio do QR Code também possibilita que tenha acesso ao nome da pessoa ou da empresa a quem está pagando. Essa informação fica disponível, embora já se conheça o nome da pessoa ou empresa, assim que efetuar o pagamento.
</p><p>É uma informação que pode lhe auxiliar a gerir melhor seus recursos, sabendo a quem pagou.
</p><p><h2>Forma de pagamento</h2>
</p><p>Por fim, após o pagamento de um produto ou serviço ou qualquer outra transação que não tenha diretamente relação com isso, é exibida a forma de pagamento, ou seja, o meio que utilizou para pagar.
</p><p>O QR Code é uma tecnologia que pode otimizar o processo de pagamento de produto ou serviço ou a uma pessoa, bem como garantir maior segurança a essa operação. Por isso, se ainda não o utiliza, que tal gerar um QR Code conosco aqui mesmo? Aproveite!
</p>
