@tailwind base;

@tailwind components;

@tailwind utilities;

.article__content h1 {
  @apply mb-10 text-2xl text-purple-800 font-bold;
}

.article__content h2 {
  @apply mb-2 text-lg text-blue-700 font-bold mt-2;
}

.article__content  p {
  @apply mt-2 mb-2;
  text-align: justify;
}

.article__content  p a {
  @apply underline;
}

@media print {
  @page
  {
      size:  auto;   /* auto is the initial value */
      margin: 0mm;  /* this affects the margin in the printer settings */
  }

  html
  {
      background-color: #FFFFFF;
      margin: 0px;  /* this affects the margin on the html before sending to printer */
  }
}
